.html-3 {
  --main-color: rgba(46, 47, 66, 1);
  --focus-color: rgba(128, 128, 128, 1);
}

.input__name {
  height: 40px;
  min-width: 360px;
  border-radius: 4px;
  border-width: 1px;
  letter-spacing: 0.04em;
  border-radius: 4px;

  display: flex;
  padding-left: 16px;
  align-items: center;
  font-size: 16px;
  color: var(--main-color);
  border: 1px solid var(--focus-color);
}

.input__name:hover {
  border-color: var(--main-color);
}

.input__name:focus {
  outline: none;
  border-color: var(--focus-color);
}

.input__name::placeholder {
  color: var(--main-color);
}

.greeting__user {
  font-family: Montserrat;
  padding-top: 16px;
  color: var(--main-color);
  font-size: 24px;
  line-height: 32px;
}
